{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div>
        {% if request.user.is_authenticated %}
        <div>
            <span>{{ request.user.nickname }} 으(로) 로그인 중</span>
            <a href="{% url 'members:logout' %}">로그아웃</a>
        </div>
        <div>
            <a href="{% url 'room' room_name='wps' %}">웹 프로그래밍 스쿨 방 가기</a>
        </div>
        {% else %}
        <div>
            <a class="btn btn-primary"
               href="https://www.facebook.com/v2.12/dialog/oauth?client_id=556722268030664&redirect_uri=http://localhost:8000/members/login/">페이스북
                로그인</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
