{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div id="user">
        <h1 id="user-info" class="none"></h1>
        <h3 id="user-name"></h3>
    </div>

    <button id="btn-facebook">페이스북 로그인</button>

    <!--페이스북 로그인 페이지 -->
    {% include 'facebook_login.html' %}


    <!--채팅-->
    <div id="chating">

    </div>

    <!--투표 버튼-->
    <div id="vote">
        <button id="btn-vote">빠름 투표</button>
    </div>

    <!--sms 보내기-->
    <!--<div>-->
        <!--<form action="{% url 'send-sms' %}">-->
            <!--<button type="submit">문자 보내기</button>-->
        <!--</form>-->
    <!--</div>-->
</div>
{% endblock %}