{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div>
        {% if user.is_authenticated %}
        <div>
            <h3>{{ user.nickname }} 으(로) 로그인 중</h3>
            <form action="{% url 'members:logout' %}">
                <button type="submit">로그아웃</button>
            </form>
        </div>
        {% else %}
        <div>
            <a class="btn btn-primary"
               href="https://www.facebook.com/v2.12/dialog/oauth?client_id=556722268030664&redirect_uri=http://localhost:8000/members/login/">페이스북
                로그인</a>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}